<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Select Cosumer For {{modelName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>     
  </div>

  <!-- Modal body -->
  <div class="modal-body">

            <div class="box box-default">
              <div class="box-body">
                  <div class="col-xs-6">
                      <div class="form-group">
                        <label></label>
                        <select class="form-control" [(ngModel)]="selectedModel" (change)="toggleButtn()">  
                            <option value="-1">Select</option>                 
                           <ng-container *ngFor="let item of linkedModelListDrp; let listIndex=index">
                            <option [value]=item.modelId *ngIf="(item.modelType!='A')&&(item.modelType!='C')&&(item.modelId!=modelId)">{{item.modelName}}</option>
                           </ng-container>
                         </select>
                      </div>
                      </div>           
              </div>
            </div>

  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="passBack()" *ngIf="displayStatus=='Show'">Save</button>     
  </div>