<div class="row">
  <div class="col-xs-12">
    <div class="box box-default">
      <div class="box-body">
          <div class="col-xs-6">
              <div class="form-group">
                <label>Select Model</label>
                <select class="form-control">
                  <option value='-1'>Select a Model</option>
                <option [value]="item.id" *ngFor="let item of modelList">{{item.name}}</option>
                 </select>
              </div>
              </div>           
              <div class="col-xs-6">
                  <div class="form-group">
                    <label>Select Plan</label>
                    <select class="form-control">
                      <option>One</option>
                      <option>Two</option>
                    </select>
                  </div>
                </div>    
      </div>
    </div>
  </div>
</div>