<style>
  .box-title-select-model{
    display: flex;
  
  }
  .box-title-select-model span{        width: auto;
      line-height: 35px;
      padding-right: 20px;
  
  }
  .box-title-select-model  select{       width: 20%;
  
  }
  .generate_plan_bx .box{
    box-shadow:none;
  
  }
  .btn-group-sim .btn-primary{
    margin-left: 0px;
    margin-right: 10px;
  }
  </style>
  
  
  <div class="generate_plan_bx">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title box-title-select-model">
          <span> Select Model </span>                  
            <select class="form-control" (change)="onChangeModelList($event.target.value)">
              <option disabled>Select Model</option>
              <ng-container *ngFor="let item of linkedModelListDrp;let i = index">
                  <option [value]="item.modelId" *ngIf="item.modelType=='A'">{{item.modelName}}/{{item.modelLinkedWith}}</option>
              </ng-container>
          </select> 
         </h3>
      </div>
    
    <div class="box-body">
      <div class="row">  
          <div class="pull-left col-sm-6">
            <div class="form-group">
              <label>
               Simulation Name
                <span style="color:red;">*</span>
              </label>
              <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
              [(ngModel)]="simulationName" placeholder="Enter Plan Name"
              name="simulationname">
              <!-- ngIf: asc.error.newPlanNameError -->
            </div>
          </div>
    
    
    
          <div class="pull-left col-sm-6">
            <div class="form-group">
              <label class="ng-binding">
               Select Simulation Template
                <span style="color:red;">*</span>
              </label>
    
              <select  class="form-control" [(ngModel)]="simulationTemplateName" name='simulationtemplatename'>
                <option  disabled >Select Simulation Template Name</option>
                <option [value]='9'> Standard </option>
              </select>
    
            </div>
          </div> </div> 
  
          <div class="clearfix"></div>
  
          <div class="row">
            <div class="pull-left col-sm-3">
            <div class="form-group">
              <label> Price <span style="color:red;">*</span>
              </label>
              <select class="form-control" >                  
                  <option disabled>Price Base Market Plan</option>
                 </select>
            </div>
          </div>
          <div class="pull-left col-sm-3">
            <div class="form-group">
              <label> Media <span   style="color:red;">*</span>
              </label>
              <select class="form-control" [(ngModel)]="mediaPlanName" name='mediaplanname'>                  
                  <option disabled>Select Existing Plan Name</option>
                   <ng-container *ngFor="let item of planList">
                    <option [value]="item.base_market_plan_id">{{item.base_plan_name}}</option>
                   </ng-container>
                 </select>
            </div>
          </div>
          <div class="pull-left col-sm-3">
            <div  class="form-group">
              <label class="ng-binding"> Distribution <span style="color:red;">*</span></label>
              <select class="form-control">
                <option disabled>Distribution Base Market Plan</option>
              </select>
            </div>
          </div>
          <div class="pull-left col-sm-3">
            <div  class="form-group">
              <label class="ng-binding"> Brand Attribute<span style="color:red;">*</span></label>
              <select class="form-control">
                <option disabled>Product Attribute Base Market Plan</option>
              </select>
            </div></div>
        </div>
    
        
        <div class="btn-group-sim">
            <div class="row">
              <div class="col-md-12">
              <button type="submit" class="btn btn-primary">Cancel</button> 
              <button type="submit" class="btn btn-primary" (click)='onSubmitForm()'>Save & Run</button>
  
        </div></div></div></div>
    
    </div></div>