  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="treeview">
            <a href="#">
              <i class="fa  fa-bullseye"></i> <span>Model Setup</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a routerLink="/home"><i class="fa fa-circle-o"></i>Model Setup</a></li>
              <li><a routerLink="/product"><i class="fa fa-clone"></i>Model Import</a></li>
            </ul>
            
          </li>



          <li class="treeview">
            <a href="#">
              <i class="fa fa-bar-chart"></i> <span>Chart</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a routerLink="/product"><i class="fa fa-circle-o"></i> Dashboard</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-files-o"></i> <span>Component</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a routerLink="/home"><i class="fa fa-circle-o"></i>Data Table</a></li>
            </ul>
          </li>         
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>