<div class="generate_plan_bx">
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Generate Plan</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form role="form">
    <div class="box-body">
      <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>
            Model
          </label>
          <select class="form-control">
              <option disabled>Select Model</option>
              <ng-container *ngFor="let item of ModelList;let i = index">
                <option>{{item.chnagedName}}</option>
              </ng-container>
          </select>
        </div>
      </div></div>
   
      <div class="col-lg-6">
      </div>

      <div class="clearfix"></div>

      <div class="row">
      <div class="pull-left col-sm-3">
        <div class="form-group">
          <label>
            Plan Type
          </label>
          <br>
          <label class="radio-inline">
            <input type="radio" ng-model="asc.analysis.planType" value="GEN"
              data-ng-click="asc.changePlanType(asc.analysis.planType)"
              class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" name="63">
            Simple
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="asc.analysis.planType" value="STEP"
              data-ng-click="asc.changePlanType(asc.analysis.planType)"
              class="ng-pristine ng-valid ng-not-empty ng-touched" name="64">Stepwise
          </label>
        </div>
      </div>




      <div class="pull-left col-sm-6">
        <div class="form-group">
          <label>
            Value Type
          </label>
          <br>
          <label class="radio-inline">
            <input type="radio" ng-model="asc.analysis.valueType" value="P" class="" name="73">Change Percentage
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="asc.analysis.valueType" value="A" class="" name="74">Change Absolute
          </label>
          <!-- ngIf: asc.showAbsolute --><label class="radio-inline">
            <input type="radio" ng-model="asc.analysis.valueType" value="D" class="" name="80">Put Absolute
          </label><!-- end ngIf: asc.showAbsolute -->
          <br>
        </div>
      </div>    </div> 
      <div class="clearfix"></div>
      <div class="row">
      <div class="pull-left col-sm-4">
        <div class="form-group">
          <label>
            Existing Plan Name
          </label>
          <select class="form-control">
            <option disabled>Select Existing Plan Name</option>
            <option label="Media Base Market Plan" value="object:70">Media Base Market Plan</option>
            <option label="NewModel2Plan" value="object:71">NewModel2Plan</option>
          </select>
          <!-- ngIf: asc.error.planName -->
        </div>
      </div>

      <div class="pull-left col-sm-4">
        <div class="form-group">
          <label>
            New Plan Name
            <span style="color:red;">*</span>
          </label>
          <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
            data-ng-model="asc.analysis.newPlanName" placeholder="Enter Plan Name"
            data-ng-change="asc.checkNewPlanName(asc.analysis.newPlanName)">
          <!-- ngIf: asc.error.newPlanNameError -->
        </div>
      </div>



      <div class="pull-left col-sm-4">
        <div class="form-group">
          <label class="ng-binding">
            Change GRPs/Impression value
            <span style="color:red;">*</span>
          </label>

          <input type="text" class="form-control " placeholder="Enter GRPs/Impression value">

        </div>
      </div> </div>

<div style="clear:both;"></div>
<div class="row"> 
<div class="col-sm-6 pull-left">
      <div style="width:100%;">
        <label>
         Brand
        </label>
         <div id="brandslist">
          <ejs-multiselect 
              #multiselectelement 
              id='#multiselectelement'
              [dataSource]='brandsData' 
              [fields]='brandsField'
              (filtering)='onFiltering($event)'  (removed)='onRemove($event)'
              [mode]='mode' 
              [placeholder]='placeholder' (select)="changeValue($event)">
              </ejs-multiselect>
         </div>
      </div>
     
      <div style="width:100%;">
        <label>
          Sub Brand
        </label>
        <div id="subBrandList">
          <ejs-multiselect
              id='multiselectelement' 
              [dataSource]='subBrands' 
              [fields]='subBrandFields'
              (filtering)='onFiltering($event)' 
              [mode]='box' 
              [placeholder]='placeholdersub' >
              </ejs-multiselect>
         </div>
      </div>  </div>
      

      <div class=" pull-left col-sm-6">
        <label>
          Media Type
        </label>
        <div id='treeparent'>
          <ejs-treeview #treeelement id='#treeelement' [fields]='field' [showCheckBox]='showCheckBox'></ejs-treeview>
        </div>
      </div> </div>



<div class="clearfix"> </div>
<div class="row"> 
      <div class=" pull-left col-sm-4">
        <div class="form-group">
          <label>
            Change Awareness Probability
          </label>
          <input type="text" class="form-control " placeholder="Select the value between 0 to 1">
        </div>
      </div>


      <div class=" pull-left col-sm-4">
        <div class="form-group">
          <label>
            Change Persuasion
          </label>
          <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
            data-ng-model="asc.analysis.persuation" placeholder="Select the value between 0 to 1"
            data-ng-change="asc.error.persuasion = validate(asc.analysis.persuation).by('persuasion')"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          <!-- ngIf: asc.error.persuasion[0] -->
          <!--<input type="number" class="form-control"  data-ng-model="asc.analysis.persuation" placeholder="Change Persuation"/>-->
        </div>
      </div>
      <div class=" pull-left col-sm-4">
        <div class="form-group">
          <label>Period</label>
          <ejs-daterangepicker id='daterangepicker' placeholder='Select a range' [startDate]='start' [endDate]='end'>
          </ejs-daterangepicker>
        </div>
      </div> </div>



    </div>
    <!-- /.box-body -->

    <div>

      
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div></div>