<div class="generate_plan_bx">
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Generate Plan</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form >
    <div class="box-body">
      <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>
            Model
          </label>
          <select class="form-control" (change)="onChangeModelList($event.target.value)">
              <option disabled>Select Model</option>
              <ng-container *ngFor="let item of linkedModelListDrp;let i = index">
                  <option [value]="item.modelId" *ngIf="item.modelType=='A'">{{item.modelName}}/{{item.modelLinkedWith}}</option>
              </ng-container>
          </select>
        </div>
      </div></div>
   
      <div class="col-lg-6">
      </div>

      <div class="clearfix"></div>

      <div class="row">
      <div class="pull-left col-sm-3">
        <div class="form-group">
          <label>
            Plan Type
          </label>
          <br>
          <label class="radio-inline">
            <input type="radio" value="GEN"
            [(ngModel)]="planType" name="plantype">
            Simple
          </label>
          <label class="radio-inline">
            <input type="radio"  value="STEP"
            [(ngModel)]="planType" name="plantype">Stepwise
          </label>
        </div>
      </div>




      <div class="pull-left col-sm-6">
        <div class="form-group">
          <label>
            Value Type
          </label>
          <br>
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="valueType" name="valuetype" value="P">Change Percentage
          </label>
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="valueType" name="valuetype" value="A">Change Absolute
          </label>
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="valueType" name="valuetype" value="D" >Put Absolute
          </label>
          <br>
        </div>
      </div>    </div> 
      <div class="clearfix"></div>
      <div class="row">
      <div class="pull-left col-sm-4">
        <div class="form-group">
          <label>
            Existing Plan Name
          </label>
          <select class="form-control" (change)="onChangePlanlList($event.target.value)">                  
            <option disabled>Select Existing Plan Name</option>
             <ng-container *ngFor="let item of planList">
              <option [value]="item.base_market_plan_id">{{item.base_plan_name}}</option>
             </ng-container>
           </select>
          <!-- ngIf: asc.error.planName -->
        </div>
      </div>

      <div class="pull-left col-sm-4">
        <div class="form-group">
          <label>
            New Plan Name
            <span style="color:red;">*</span>
          </label>
          <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
          [(ngModel)]="newPlanName" placeholder="Enter Plan Name" name="newplanname">
          <!-- ngIf: asc.error.newPlanNameError -->
        </div>
      </div>



      <div class="pull-left col-sm-4">
        <div class="form-group">
          <label class="ng-binding">
            Change GRPs/Impression value
            <span style="color:red;">*</span>
          </label>

          <input type="text" class="form-control " [(ngModel)]="grpImpression" name="grpImpression" placeholder="Enter GRPs/Impression value">

        </div>
      </div> </div>

<div style="clear:both;"></div>
<div class="row"> 
<div class="col-sm-6 pull-left">
      <div style="width:100%;">
        <label>
         Brand
        </label>
         <div id="brandslist">
          <ejs-multiselect 
              #multiselectBrandList 
              id='multiselectBrandList'
              [dataSource]='brandsData' 
              [fields]='brandsField'
              (filtering)='onFiltering($event)'  (removed)='onRemove($event)' 
              [placeholder]='placeholder' (select)="changeValue($event)">
              </ejs-multiselect>
         </div>
      </div>
     
      <div style="width:100%;">
        <label>
          Sub Brand
        </label>
        <div id="subBrandList">
          <ejs-multiselect
              #multiselectSubBrandList
              name="muliselectsubbrands"
              [dataSource]='subBrandsData' 
              [fields]='subBrandFields'
              (filtering)='onFiltering($event)' 
              [placeholder]='placeholdersub' 
              (blur)='onSelectSubBrand($event)'>
              </ejs-multiselect>
         </div>
      </div>  </div>
      

      <div class=" pull-left col-sm-6">
        <label>
          Media Type
        </label>
        <div id='treeparent'>
          <ejs-treeview #treeelement id='#treeelement' [fields]='field' [showCheckBox]='showCheckBox'  (nodeChecked)="changeValueM($event)"></ejs-treeview>
        </div>
      </div> </div>



<div class="clearfix"> </div>
<div class="row"> 
      <div class=" pull-left col-sm-4">
        <div class="form-group">
          <label>
            Change Awareness Probability
          </label>
          <input type="text" class="form-control " [(ngModel)]="awarenessProbability" name="awarenessprobability" placeholder="Select the value between 0 to 1">
        </div>
      </div>


      <div class=" pull-left col-sm-4">
        <div class="form-group">
          <label>
            Change Persuasion
          </label>
          <input type="text" [(ngModel)]="changePersuasion" name="changepersuasion" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Select the value between 0 to 1">
        </div>
      </div>
      <div class=" pull-left col-sm-4">
        <div class="form-group">
          <label>Period</label>
          <ejs-daterangepicker id='daterangepicker' placeholder='Select a range' [startDate]='start' [endDate]='end'>
          </ejs-daterangepicker>
        </div>
      </div> </div>



    </div>
    <!-- /.box-body -->

    <div>

      
      <button  class="btn btn-primary" (click)='onSubmitForm()'>Submit</button>

    </div>
  </form>
</div></div>