<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Model List</h3>
      </div>
      <!-- /.box-header -->
      <table datatable [dtOptions]="dtOptions"  class="row-border hover">
        <thead>
          <tr>
            <th>Model Name</th>
            <th>Model Description</th>
            <th>Linked with</th>          
            <th>Status</th>            
            <th colspan="2">Action</th>
            <th></th>            
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of ModelList;let jsonIndex = index">
            <tr>
              <td>
                <span  *ngIf="item.status=='Normal';then without_status else with_status"></span>
                <ng-template #without_status>{{item.name}}</ng-template>
                <ng-template #with_status>{{item.name}} ({{item.status}})</ng-template>
              </td>
              <td>{{item.name}}</td>
              <td>
                  <span *ngIf="item.advisors!='' then advisory_text"></span>
                  <span *ngIf="item.consumer!='' then consumer_text"></span>
                  <ng-template #advisory_text>{{item.advisors}}</ng-template>
                  <ng-template #consumer_text>{{item.consumer}}</ng-template>
                </td>               
              <td>Imported</td>                          
              <td><a href="#">
                  <div class="tools">
                      <i class="fa fa-edit"></i>
                    </div>
                    </a>                
              </td>
              <td><a href="#">
                  <div class="tools">
                      <i class="fa fa-trash-o"></i>
                    </div> 
                  </a>               
              </td>
              <td>
                  <button (click)="openModal(jsonIndex)" *ngIf="item.status=='Normal'">Link</button>
                  <button (click)="unlinkModel(jsonIndex)" *ngIf="item.status=='Consumer'">Unlink</button>

              </td>             
            </tr>            
          </ng-container>
        </tbody>
      </table>

    </div>
    <!-- /.box -->

  </div>
  <!-- /.col -->

  <!-- /.col -->
</div>