<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Model List</h3>
      </div>
      <!-- /.box-header -->
      <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>Model Name</th>
            <th>Model Description</th>
            <th>Linked with</th>          
            <th>Status</th>            
            <th colspan="2">Action</th>
            <th></th>            
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of linkedModelList;let Index = index">
            <tr>
              <td>
                <span  *ngIf="item.type=='A';then Advisors_status"></span>
                <ng-template #Advisors_status>{{item.modelName}} (Advisors)</ng-template>
                <span  *ngIf="item.type=='C';then Consumer_status"></span>
                <ng-template #Consumer_status>{{item.modelName}} (Consumer)</ng-template>
                <span  *ngIf="item.type=='null';then normal_status"></span>
                <ng-template #normal_status>{{item.modelName}}</ng-template>                                
              </td>
              <td>{{item.modelDesc}}</td>
              <td>
                <span *ngIf="item.type!='null'">
                {{item.linkedWith}}
                </span>
                </td>               
              <td>Imported</td>                          
              <td><a href="#">
                  <div class="tools">
                      <i class="fa fa-edit"></i>
                    </div>
                    </a>                
              </td>
              <td><a href="#">
                  <div class="tools">
                      <i class="fa fa-trash-o"></i>
                    </div> 
                  </a>               
              </td>
              <td>
                  <button (click)="openModal(item.modelId,item.modelName)" *ngIf="item.actionButton=='N'">Link</button>
                  <button (click)="unlinkModel(item.modelId)" *ngIf="item.actionButton=='D'">Unlink</button>

              </td>             
            </tr>            
          </ng-container>
        </tbody>
      </table>

    </div>
    <!-- /.box -->

  </div>
  <!-- /.col -->

  <!-- /.col -->
</div>