<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Model List</h3>
      </div>
      <!-- /.box-header -->
      <table datatable [dtOptions]="dtOptions"  class="row-border hover">
        <thead>
          <tr>
            <th>Model ID</th>
            <th>Model Name</th>
            <th>Model Description</th>
            <th></th>
            <th></th>
            <th></th>            
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of ModelList;let i = index">
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.name}} </td>
              <td>{{item.status}}</td>             
              <td><a href="#">
                  <div class="tools">
                      <i class="fa fa-edit"></i>
                    </div>
                    </a>                
              </td>
              <td><a href="#">
                  <div class="tools">
                      <i class="fa fa-trash-o"></i>
                    </div> 
                  </a>               
              </td>
              <td>
                  <button (click)="openModal(i)" *ngIf="item.status=='N'">Link</button>
              </td>             
            </tr>            
          </ng-container>
        </tbody>
      </table>

    </div>
    <!-- /.box -->

  </div>
  <!-- /.col -->

  <!-- /.col -->
</div>